.header {
    background-color: #3a3a3a;
    height: 6rem;
    position: sticky;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
}

.header__title {
    font-size: 2.5rem;
    font-weight: 600;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.header__menu {
    display: flex;
    align-items: center;
}

.header a:first-child {
    color: #ffffff;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 500;
    margin-right: 2rem;
    transition: all 0.3s ease;
}

.header a:first-child:hover {
    color: #02b3e4;
}

.header a:nth-child(2) {
    color: #ffffff;
    text-decoration: none;
    display: flex;
    align-items: center;
    position: relative;
}

.header a:nth-child(2) i {
    font-size: 1.5rem;
    margin-right: 1rem;
}

.header a:nth-child(2) #cartAmount {
    background-color: #02b3e4;
    color: #ffffff;
    padding: 0.3rem;
    border-radius: 50%;
    font-size: 1rem;
    font-weight: bold;
    position: absolute;
    bottom: 0.8rem;
    right: 0.1rem;
}